# AWS Configuration
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
S3_BUCKET_NAME=nz-electricity-generation

# AWS Region
AWS_DEFAULT_REGION=ap-southeast-2

# Terraform
BUDGET_ALERT_EMAIL=you@example.com

# Snowflake Configuration
SNOWFLAKE_ORGANIZATION_NAME=your-organization
SNOWFLAKE_ACCOUNT_NAME=your-account
SNOWFLAKE_ACCOUNT=your-account.region
SNOWFLAKE_USER=your-username
SNOWFLAKE_PASSWORD=your-password
SNOWFLAKE_TRANSFORMER_PASSWORD=change-me-transformer
SNOWFLAKE_READER_PASSWORD=change-me-reader
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=TRANSFORM_WH
SNOWFLAKE_DATABASE=NZ_ELECTRICITY

# Airflow
AIRFLOW__CORE__FERNET_KEY=your-fernet-key
