# AWS Configuration
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
S3_BUCKET_NAME=nz-electricity-generation

# AWS Region
AWS_DEFAULT_REGION=ap-southeast-2

# Terraform
BUDGET_ALERT_EMAIL=you@example.com
TF_VAR_snowflake_user=your-admin-user
TF_VAR_snowflake_private_key_path=/home/nz/.ssh/snowflake_rsa_key.p8
TF_VAR_snowflake_public_key_path=/home/nz/.ssh/snowflake_rsa_key.pub

# Snowflake Configuration
SNOWFLAKE_ORGANIZATION_NAME=your-organization
SNOWFLAKE_ACCOUNT_NAME=your-account
SNOWFLAKE_ACCOUNT=your-account.region
SNOWFLAKE_USER=TRANSFORMER_SVC
SNOWFLAKE_PASSWORD=your-password
SNOWFLAKE_TRANSFORMER_PASSWORD=change-me-transformer
SNOWFLAKE_READER_PASSWORD=change-me-reader
SNOWFLAKE_PRIVATE_KEY_PATH=/opt/airflow/secrets/snowflake_rsa_key.p8
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=TRANSFORM_WH
SNOWFLAKE_DATABASE=NZ_ELECTRICITY

# Airflow
AIRFLOW_UID=1000
AIRFLOW__CORE__FERNET_KEY=your-fernet-key
